<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Capitol United</title>

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/all.css" %}

    {% style "/css/screen.css" %}
  </head>
  <body>
      <!-- navbar -->
      <nav class="navbar navbar-dark bg-dark navbar-expand-md" role="navigation">
          <button class="navbar-toggler hidden-sm-up"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapsing-navbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">Capitol United</a>
          <div class="collapse navbar-collapse" id="collapsing-navbar">
              <ul class="nav navbar-nav">
                  <li class="nav-item">
                      <a href="/"
                         class="nav-link{% ifequal page "home.html" %} active{%endifequal%}">
                      Home
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="/about"
                         class="nav-link{% ifequal page "about.html" %} active{%endifequal%}">
                      About
                      </a>
                  </li>
              </ul>
          </div>
      </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- scripts -->
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/font-awesome/js/all.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}
    
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
